apiVersion: v1
kind: Namespace
metadata:
  name: submariner-k8s-broker
  labels:
    app: submariner
---
# Submariner Broker configuration
apiVersion: submariner.io/v1alpha1
kind: Broker
metadata:
  name: submariner-broker
  namespace: submariner-k8s-broker
spec:
  # Global CIDR for cross-cluster pod networking
  globalnetEnabled: true
  globalnetCIDRRange: 242.0.0.0/8

  # Default cluster size (number of global IPs per cluster)
  defaultGlobalnetClusterSize: 65536

  # Components to enable
  components:
    - service-discovery
    - connectivity

  # Default connection settings
  defaultCustomDomains: []
---
# RBAC for Submariner broker
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: submariner-broker-admin
rules:
  - apiGroups:
      - submariner.io
    resources:
      - "*"
    verbs:
      - "*"
  - apiGroups:
      - multicluster.x-k8s.io
    resources:
      - "*"
    verbs:
      - "*"
  - apiGroups:
      - discovery.k8s.io
    resources:
      - endpointslices
    verbs:
      - create
      - get
      - list
      - watch
      - update
      - delete
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: submariner-broker-admin
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: submariner-broker-admin
subjects:
  - kind: ServiceAccount
    name: submariner-broker
    namespace: submariner-k8s-broker
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: submariner-broker
  namespace: submariner-k8s-broker
---
# Service export for cross-cluster service discovery
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: serviceexports.multicluster.x-k8s.io
spec:
  group: multicluster.x-k8s.io
  names:
    kind: ServiceExport
    listKind: ServiceExportList
    plural: serviceexports
    singular: serviceexport
  scope: Namespaced
  versions:
    - name: v1alpha1
      served: true
      storage: true
      schema:
        openAPIV3Schema:
          type: object
          properties:
            status:
              type: object
              properties:
                conditions:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        type: string
                      status:
                        type: string
                      reason:
                        type: string
                      message:
                        type: string
