apiVersion: v1
kind: Service
metadata:
  name: myapp
  labels:
    app: myapp
    managed-by: kustomize
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 8080
      protocol: TCP
      name: http
  selector:
    app: myapp
